@font-face {
  font-family: 'TraceysHandwriting';
  src: url('/Users/tracey/Library/Fonts/TraceysHandwriting-Regular.ttf') format('truetype');
}

body {
  margin: 0;
  font-family: 'TraceysHandwriting';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
